<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Users!!!</title>
</head>
<body>

    <table>
        <thead>
            <th>id_</th>
            <th>ИМЯ_</th>
            <th>ФАМИЛИЯ_</th>
            <th>Эл.Почта_</th>
        </thead>
        <tbody th:each="user :  ${users}">
        <tr>
            <td th:text = ${user.getId()}> defUser</td>
            <td th:text = ${user.getName()}> defUser</td>
            <td th:text = ${user.getLastName()}> defUser</td>
            <td th:text = ${user.getEmail()}> defUser</td>
            <td>
            <form th:action="@{/users_controller/edit}" method="get">
                <input type="hidden" th:name="id" th:value="${user.getId()}"/>
                <button type="submit" >Изменить</button>
            </form>
            </td>
            <td>
                <form th:action="@{/users_controller/del_user}" method="post">
                    <input type="hidden" th:name="id" th:value="${user.getId()}"/>
                    <button type="submit">Удалить</button>
                </form>
        </tr>
        </tbody>
    </table>


<br>
<hr/>

<a href="/users_controller/new" >Add new!</a>

</body>
</html>